.input-group{
    display: flex;
    width: 35%;
    
}
#input{
    width: 100%;
}
.search{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.row{
    display: flex;
    width: 35%;
    gap: 5px;
}
.reimburstment
{
    color: #3b60a3;
    border: 1px solid #3b60a3;
    background: none;
}
.form-select{
    display: flex;
    width: 100%;
}
.button{
    border: 1px solid  #3b60a3;
    color: #3b60a3;
}
.close{
    outline: none;
    border: none;
    background: none;
}
.header{
    display: flex;
    justify-content: space-between;
    color: #3b60a3;
    padding: 20px;
    border: 1px solid #3b60a3;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #3b60a3;
}

.form-control{
    border: 1px solid #3b60a3
}
.form-select{
    border: 1px solid #3b60a3
}
.btn{
    color: cornflowerblue;
    text-decoration: underline;
}
.btn:hover {
    color: darkblue;
  }
.decbtn{
    color: red;
    text-decoration: underline;
    border: none;
    background-color: #fff;
}
.decbtn:hover{
    color: darkred;
}