.card{
    border: none;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0% hsla(260, 29%, 36%, 1) 100%);
}
.card h1,h6{
    color: aliceblue;
    margin-top: 10px;
}
label{
    color: aliceblue;
}
.form-label{
    font-size: 15px;
    margin: 0;
}